{% extends "main/base_template.html" %}
{% load crispy_forms_tags %}
{% block stylesheets %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <style>
  /* Make the image fully responsive */
.img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit:cover;
}
  </style>
{% endblock %}

{% block content %}
  <div class="card mb-2">
    <div class="row row-cols-md-2">
      <div class="col-md-7">
        <hr>
        <div class="mt-5 mb-5">
        {% if visited_user == 'daycare' %}
          <h5> <i class="fas fa-user"></i> Hello {{ daycare.name }}</h5>
          <h6>This is where you can manage your daycare.
            <br> You will be able:</h6>
          <p class="text-muted"># Manage your booking schedule</p>
           <p class="text-muted"># Set filters of approved dogs and services you provide</p>
           <p class="text-muted"># Read / write reviews of dog owners and their dogs</p>
           <p class="text-muted"># Chat with dog owners</p>
        {% elif visited_user == 'dogowner' %}
             <h5> <i class="fas fa-user"></i> Welcome to {{ daycare.name }}</h5>
          <h6>This is where you can book an order for {{ daycare.name }} daycare
            <br> You will be able:</h6>
          <p class="text-muted"># Look at the details of the daycare</p>
           <p class="text-muted"># Read / write reviews of the daycare</p>
           <p class="text-muted"># Chat with the daycare owners</p>
         {%  endif %}
        </div>
        <hr>
        <div class="mt-5">
          <h5>Have a look at your reviews</h5>
        <div style="height: 1500px;overflow: scroll;">
          <table class="table table-hover table-bordered table-responsive">
            <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Review</th>
              <th scope="col">Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for review in reviews %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ review.dogowner_id }}</td>
              <td>{{ review.creation_date }}</td>
              <td>{{ review.review }}</td>
              <td>{{ review.rating }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
         </div>

        </div>
      </div>
      <div class="col-md-5">
        <div class="card h-100">
          <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="apt-tab-{{daycare.id}}" data-toggle="tab"
                 href="#apt-{{daycare.id}}" role="tab" aria-controls="apt-{{daycare.id}}"
                 aria-selected="true">Daycare Profile Details</a>
            </li>
          </ul>

          <div class="tab-content" id="card-tab-content">
            <div class="tab-pane fade show active" id="apt-{{daycare.id}}" role="tabpanel"
                 aria-labelledby="apt-tab-{{daycare.id}}">

              <div id="imageSlides" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  {% for image in images %}
                  {% if forloop.counter == 1 %}
                  <li data-target="#imageSlides" data-slide-to={{image.id}} class="active"></li>
                  {% else %}
                  <li data-target="#imageSlides" data-slide-to={{image.id}}></li>
                  {% endif %}
                  {% endfor%}
                </ul>


                <!-- The slideshow -->
                <div class="carousel-inner">
                  {% for image in images %}
                  {% if forloop.counter == 1 %}
                  <div class="carousel-item active">
                    <img src={{image.url}} class="img-fluid" width="900" height="400">
                  </div>
                  {% else %}
                  <div class="carousel-item">
                    <img src={{image.url}} class="img-fluid" width="900" height="400">
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#imageSlides" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#imageSlides" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{daycare.address}}, {{daycare.city}}</h5>
                <br>
                <h6><i class="fas fa-dog"></i> Capacity: {{daycare.capacity}}
                  <br>
                  <br>
                  <i class="fas fa-coins"></i> Price Per Night: {{daycare.price_per_day}}
                </h6>
                <br>
                <h6><strong>About</strong></h6>
                <p class="card-text">{{daycare.description}}</p>
    {% if visited_user == 'dogowner' %}

    <form method='POST' action=''>{% csrf_token %}
        <div class="col-4" id="searchBoxArea">
        <h2>Book now</h2>
               <div class="form-group">
                  {{ form.dog_name|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.email|as_crispy_field }}
              </div>
              <div class="form-group">
                  {{ form.start_date|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.end_date|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.requests|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.agree_terms|as_crispy_field }}
              </div>
                <button type="submit" class="btn btn-primary">Complete Booking</button>
            </div>
            <br>
    {% if order == 'No Capacity' %}
    <h6>Failed: Your order could not be submit, there is no space available on the dates specified, please try again</h6>
   {%  elif order != 'null' %}
         <h6>Your order has been successfully received and waiting for {{ daycare.name }} to approve</h6>
         <p class="text-muted">You can see the details of the reservation <a href="{% url 'orders' %}">here</a></p>
    {% endif %}
        </form>
   {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
        </div>

    {% endblock %}